[Desktop Entry]
Type=Application
Icon=harbour-monit
X-Nemo-Application-Type=silica-qt5
Exec=sailfish-qml harbour-monit
Name=Monit

#X-Maemo-Service=org.nephros.sailfish.Monit
#X-Maemo-Object-Path=/org/nephros/sailfish/Monit
#X-Maemo-Method=org.nephros.sailfish.Monit.openUrl

[X-Sailjail]
ApplicationName=Monit
OrganizationName=org.nephros.sailfish
Permissions=Internet

[X-HarbourBackup]
BackupConfigList=/org/nephros/Monit
#BackupPathList=.local/share/org.nephros.sailfish/Monit/
